$background: #1A1A1D;
$primary-color: #d66fa2;

* {
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 20px;
  text-align: center;
  color: $primary-color;
  background-color: $background;
}